// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system






body{
  background: $couleur-background-home;
}
.bck1{
  background: $couleur-bck1;
}

/*generique*/
.padded{
  padding: $padding-marge;
}

/*header*/
header#header{
  margin-bottom: $margin-bottom-header;
  padding: $padding-header;
}

header#header h1 {
  text-align: $text-align-center;
  color: $color-idk;
}

/*footer*/
footer#footer{
  margin-top: $margin-top-header;
  padding: $padding-header;
}