{% extends 'base.html.twig' %}
{% block content %}
    {% block body %}
        <div class="">
            {{ include('admin/layout.html.twig') }}
        </div>
        <div class="offset-lg-1 offset-xl-1 offset-sm-0 col-lg-10 col-xl-10 col-sm-12">
            <div>
                <h3 class="center text-uppercase">{{ title }}</h3>
            </div>
            <div class="offset-lg-1 offset-xl-1 offset-sm-0 col-lg-10 col-xl-10 col-sm-12" style=" padding:1rem" >
                {% if users %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Login</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.date|date("d F Y")  }} ({{ user.age }})</td>
                                <td>
                                    <div class="row">
                                        <div>
                                            <a href="{{ path('editUser',{'user':user.id}) }}" class="btn btn-primary button-entity-add" style="display: initial">
                                                Edit
                                            </a>
                                        </div>
                                        <div>
                                            <a href="{{ path('deleteUser', {'user': user.id}) }}" class="btn btn-danger button-entity-add" style="display: initial">
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="">
                        <div class="alert alert-warning">Aucun Utilisateur</div>
                    </div>
                {% endif %}
            </div>
            <div>
                <a href="" class="btn btn-primary button-entity-add col-12">
                    ADD
                </a>
            </div>
        </div>
    {% endblock %}
{% endblock %}