{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-xl-8">
                <img src="{{ asset('Image/test4.jpg') }}" class="responsive col-12">
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4">
                {{form(form)}}
            </div>
        </div>
    </div>


{% endblock %}