{% extends 'base.html.twig' %}
{% block content %}
    {% block body %}
        <div class="">
            <div class="">
                {{ include('member/layout.html.twig') }}
            </div>
            <div>
                <h1>
                    Partie MEMBER
                </h1>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
{% endblock %}