{% block metadata %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% block meta %}
        {% endblock %}
    {% endblock %}
{% endblock metadata %}