//
// Colors
//

// Variables
// ============================

// Theme

$color-primary                                    : #ed1c24;
$color-secondary                                  : #c61017;
$color-tertiary                                   : #444444;
$color-text                                       : #363636;
$color-background-footer :                          #a9a9a9;
$color-idk :                                        #5cb85c;
$couleur-background-home :                          #ebeff2;
$couleur-bck1 :                                     #fff;

// Default

$neutral-100                                      : #DEE6EC;
$neutral-200                                      : #959FA6;
$neutral-300                                      : #7A7A7A;
$neutral-400                                      : #6F777B;
$neutral-500                                      : #666666;
$neutral-600                                      : #4A3D50;

$white                                            : #FFFFFF;
$black                                            : #000000;

$white                                            : #fff;
$gray-100                                         : #f8f9fa;
$gray-200                                         : #e9ecef;
$gray-300                                         : #dee2e6;
$gray-400                                         : #ced4da;
$gray-500                                         : #adb5bd;
$gray-600                                         : #6c757d;
$gray-700                                         : #495057;
$gray-800                                         : #343a40;
$gray-900                                         : #212529;
$black                                            : #000;

// Social networks

$facebook                                         : #3b5998;
$twitter                                          : #1da1f2;
$youtube                                          : #ff0000;
$instagram                                        : #c32aa3;
$google                                           : #4285f4;
$pinterest                                        : #bd081c;
$googleplus                                       : #db4437;
$linkedin                                         : #007bb5;
$vimeo                                            : #1ab7ea;
$tumblr                                           : #2c4762;
$snapchat                                         : #fffc00;
$viadeo                                           : #f07355;
$whatsapp                                         : #25d366;
$yahoo                                            : #430297;

//  Test
$couleur-bck2 :                                     #fff;