//
// Fonts
//

// Variables
// ============================

$font-light                                       : 'montserrat-light';
$font-regular                                     : 'montserrat-regular';
$font-bold                                        : 'montserrat-bold';
$font-icone                                       : 'FontAwesome';

// Custom
// ============================

@font-face {
  font-family: 'montserrat-light';
  src: url('../fonts/montserrat-light-webfont.eot') format('eot'),
  url('../fonts/montserrat-light-webfont.woff') format('woff'),
  url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-light-webfont.svg') format('svg')
;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular-webfont.eot') format('eot'),
  url('../fonts/montserrat-regular-webfont.woff') format('woff'),
  url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-regular-webfont.svg') format('svg')
;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/montserrat-bold-webfont.eot') format('eot'),
  url('../fonts/montserrat-bold-webfont.woff') format('woff'),
  url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-bold-webfont.svg') format('svg')
;
  font-weight: normal;
  font-style: normal;
}