//
// Variables
//

// Variables
// ============================

// Margin

$block-margin                                     : 50px;

$padding-marge :                                    15px;
$padding-header :                                   10px;
$margin-top-header :                                20px;
$margin-bottom-header :                             20px;

// Shadow

$shadow-default                                   : 0px 5px 10px 0px;

// Radius

$radius-default                                   : 3px;

// Topbar

$topbar-height                                    : 55px;
$navbar-height                                    : 101px;

// Animation

$animation-default                                : all 150ms ease-in-out;

// Medias

$medias-sm                                        : 540px;
$medias-md                                        : 720px;
$medias-lg                                        : 960px;
$medias-xl                                        : 1140px;
