{% extends 'base.html.twig' %}
{% block content %}
    {% block body %}
        <div class="">
            {{ include('admin/layout.html.twig') }}
        </div>
        {{ parent() }}

        <div style="">
            <h1 style="text-align: center; font-size: 5rem;">
                Back-End
            </h1>
            <div style="text-align: center">
                <span>
                    Cette partie concerne uniquement les administrateur du site, c'est à dire ceux abitlités
                    à modifier la structure du site. Ne laissez pas vos identifiez à d'autre personne que ceux abilités.
                </span>
            </div>
            <div class="container-fluid ">
                <div class="row navigateur">
                    <div class="circle multi-line" style="line-height: normal;">
                        <div>
                            Utilisateur
                        </div>
                        <div>
                            {{ stat.countUser }}
                        </div>
                        <div>
                            <a href="{{ path('manageUser') }} " class="couleurBlanck">GERER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}