{% block body %}
    <div class="">
        <nav id="main-nav" class="text-center container navbar navbar-expand-lg navbar-light bg-light border" style="width:75%">
            <ul class="navbar-nav" style="width:80%">
                <li class="sousMenu {% if mainNavAdmin is defined %}active{% endif %} ">
                    <div><a href="{{ path('admin') }}">Management</a></div>
                </li>
                <li class="sousMenu {% if mainNavAdmin is defined %}active{% endif %} ">
                    <div><a href="{{ path('manageUser') }}">User</a></div>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}