/* Theme -> To comment if you want to import files manually in app.js*/
@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/montserrat-light-webfont.eot") format("eot"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.eot") format("eot"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat-bold-webfont.eot") format("eot"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: #ebeff2; }

.bck1 {
  background: #fff; }

/*generique*/
.padded {
  padding: 15px; }

/*header*/
header#header {
  margin-bottom: 20px;
  padding: 10px; }

header#header h1 {
  text-align: center;
  color: #5cb85c; }

/*footer*/
footer#footer {
  margin-top: 20px;
  padding: 10px; }

.header {
  background-color: #000; }

.emplacementHome {
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 20%; }

.footerDesign {
  background-color: #5a6268;
  color: #fff; }

body {
  background: #ebeff2; }

.bck1 {
  background: #fff; }

/*generique*/
.padded {
  padding: 15px; }

/*header*/
header#header {
  margin-bottom: 20px;
  padding: 10px; }

header#header h1 {
  text-align: center;
  color: #5cb85c; }

/*footer*/
footer#footer {
  margin-top: 20px;
  padding: 10px; }

.sousMenu {
  margin: 2%;
  text-align: center; }

.carousel-item {
  height: 20em;
  min-height: 5em;
  background: no-repeat center center scroll;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%; }

.img-size {
  height: 15rem;
  width: 15rem; }

.position-image {
  margin: 10px 0 2rem 0; }

.align {
  text-align: center; }

.flex {
  display: flex; }

.ruby {
  display: ruby; }

.position-submit {
  padding: 2rem; }

.btn-light {
  background-color: darkred; }

.police-size-xsmall {
  font-size: x-small; }

.navigateur {
  justify-content: center !important;
  font-size: large; }

.position_diapo {
  margin: 1rem 0 0 0; }

.position {
  justify-content: center; }

.circle.multi-line {
  line-height: 15px;
  height: 100px;
  padding-top: 20px;
  /* 70 + 30 = 100 */ }

.circle {
  margin: 10px;
  width: 100px;
  border-right: 1px solid #000;
  height: 100px;
  text-align: center;
  border-radius: 100px;
  line-height: 90px;
  /* 100 - 10 */ }

.center {
  text-align: center;
  justify-content: center; }

.couleurBlanche {
  color: white;
  text-decoration: none; }

.couleurBlanche:hover {
  text-decoration: none;
  color: black; }

.couleurBlanck {
  color: black;
  text-decoration: none; }

.couleurBlanck:hover {
  text-decoration: none;
  color: darkslategray; }

.answer {
  font-weight: lighter;
  font-size: small; }

.img {
  max-width: 100%; }

@media screen and (min-width: 1250px) {
  .button-menu-right {
    background-color: grey;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 5px;
    color: white; }

  .button-menu-right:hover {
    background-color: darkslategray; } }
@media screen and (max-width: 1249px) {
  .button-menu-right {
    background-color: grey;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 5px;
    color: white; }

  .button-menu-right:hover {
    background-color: darkslategray; } }
@media screen and (max-width: 991px) {
  .button-menu-right {
    background-color: #A9A9A9;
    margin: 0;
    border-radius: 5px;
    color: white; }

  .button-menu-right:hover {
    background-color: darkgrey; }

  .menu-member {
    margin: 1rem 0 1rem 0; } }
@media screen and (max-width: 479px) {
  .button-menu-right {
    background-color: #A9A9A9;
    margin: 0;
    border-radius: 5px;
    color: white; }

  .button-menu-right:hover {
    background-color: darkgrey; }

  .menu-member {
    margin: 1rem 0 1rem 0; } }
.color-footer {
  background-color: #a9a9a9; }

.button_arrondis {
  border-radius: 0px 5px 10px 0px;
  background-color: #fff; }

/*# sourceMappingURL=results.css.map */
