<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        {% block title %}
            {% if title is defined %}{{title}}{% else %}Title{% endif %} | Nom du site
        {% endblock %}
    </title>
    {% block stylesheets %}

        {# bootstrap #}

        {# custom #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        {#
        <link rel="stylesheet" href="../public/node_modules/bootstrap/dist/js/bootstrap.bundle.js" type="text/css" media="all"/>
        <link rel="stylesheet" href="../public/node_modules/bootstrap/dist/css/bootstrap.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        #}
        <!-- Latest compiled and minified CSS -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>

        <link rel="stylesheet" href="{{ asset('assets/css/results.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        {% block meta %}
        {% endblock %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand offset-1" href="{{ path('homepage') }}">SKELETON SF4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav col-sm-4 col-md-4 col-xl-8 col-lg-8" >
                    <li class="nav-item {% if mainNavMember is defined %}active{% endif %} button-menu-right">
                        <a class="nav-link text-white" href="">Description</a>
                    </li>
                    <li>
                        <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="#">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name ="search">
                                <span class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-serch"></i>
                            </button>
                            </span>
                            </div>
                        </form>
                    </li>
                </ul>


                <ul class="navbar-nav col-sm-12 col-md-4 col-xl-4 col-lg-4 menu-member" style="">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Bonjour, {{ app.user.lastname }} {{ app.user.firstname }}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="">?????</a>
                                    <a class="dropdown-item" href="">?????</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{path('logout')}}">Déconnexion</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="dropdown-item" href="{{ path('admin') }}">Espace admin</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                            <a class="nav-link button-menu-right" href="{{path('login')}}">Connexion</a>
                        </li>
                        <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                            <a class="nav-link button-menu-right" href="{{path('app_registration_register')}}">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock %}
{% endblock %}

{% block flash %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="container alert alert-warning" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="container alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}

<div class=" bck1 padded" >
    {% block body %}
    {% endblock %}
</div>



{% block javascripts %}{% endblock %}
{% block footer %}
    {%  include 'footer.html.twig' %}
{% endblock %}
</body>
</html>
