<!-- Footer -->
<footer class="color-footer page-footer font-small indigo">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mx-auto">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">A propos de nous</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="couleurBlanche">Qui sommes nous</a>
                    </li>
                    <li>
                        <a href="" class="couleurBlanche">Historique</a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="couleurBlanche">???????</a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Informations</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="couleurBlanche">??????</a>
                    </li>
                    <li>
                        <a href="" class="couleurBlanche">???????????????</a>
                    </li>
                    <li>
                        <a href="#" class="couleurBlanche">what you want</a>
                    </li>
                    <li>
                        <a href="#" class="couleurBlanche">Vous rencontrez un bug</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> Si vous continuez votre navigation, l'utilisation de cookie est pratiqué.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        ©created by Thibaut Cornado - <a href="http://77.150.127.29/portefoliov3/" class="couleurBlanche">mentions légales</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->